// ==========================================================================
// Settings / Config
// ==========================================================================

// Typefaces
// =============================================================================
$font: "Graphik";

// Typography
// =============================================================================
$body: 1.6rem;
$larger: 1.8rem;
$smaller: 1.2rem;
$tiny: 1rem;

// Typography
// =============================================================================
$font-size: 62.5%;
$line-height: $body * 1.618;
$font-family: $font;

// Ratio
// =============================================================================
$golden-ratio: 1.618;

// Transitions
// =============================================================================
$speed: 0.3s;
$easing: linear;
