// ==========================================================================
// Settings / Config / Colors
// ==========================================================================

// Palette
// =============================================================================
$white:       #F1F1F1;
$light-white: #F1F1F1;
$light-grey:  #BCC0C6;
$grey:        #B3B3B3;
$dark-grey:   #252525;
$dark-black:  #161616;
$black:       #0f0f0f;
$yellow:       #FFFA68;
$primary:     $yellow;
$dark-yellow: #8D8A2E;

// Social Colors
// =============================================================================
$facebook-color:  #3B5998;
$instagram-color: #E1306C;
$youtube-color:   #CD201F;
$twitter-color:   #1DA1F2;